<!DOCTYPE html>
<html>
	<head>
		<title>Portfolio Optimization</title>
		<script>
			function addParagraph(){
				//create a new <p> element
				var newPDiv = document.createElement("p");
				var text = document.querySelectorAll("input")[0].value;
				//create the content for the <p> element
				var pContent = document.createTextNode(text);
				//add the content to the <p> element
				newPDiv.appendChild(pContent);
				//get the container <div>
				var containerDiv = document.getElementById("container");
				//add the <p> element to the <div>
				containerDiv.appendChild(newPDiv);

			}
			function deleteParagraph(){
				document.getElementsByTagName("p")[0].remove();
			}
			function print_elements(){
				var company_list=[];
				var length=(document.getElementsByTagName("p")).length;
				for(let i=0;i<length;i++){
						data=document.getElementsByTagName("p")[i].innerText;
						company_list.push(data);
				}
				console.log(company_list);



			}

		</script>
	</head>
	<body>

		<label ><b>Company Name:</b></label>
		<input type="text" name="Company Name:" value="" size="100" />
		<br />
		<button onclick="addParagraph()"><b>Add</b></button>

		<div  id="container" onclick="deleteParagraph()"></div>

		<button onclick="print_elements()"><b>Submit</b></button>

		</div>

	</body>
</html>
