<!DOCTYPE html>
<html>
	<head>
		<title>Portfolio Optimization</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	</head>
	<body>

		<label ><b>Company Name:</b></label>

		<form action= "/list_opt" class="form-inline " method="POST">
			<input class="form" type="search" placeholder="Search" aria-label="Search" name="symbol">
			<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
		</form>
		{% for symbol in list %}
							<li class="collection-item">{{ symbol }}</li>
							<br>
			{% endfor %}

		<a href="/compute">Submit</a>

		{{sample}}

	</body>
</html>
